/* 
Paleta de cores:
white
#cd969e
#cc5f6c
#c23a49
#000000
*/

/* 
DÚVIDAS: 
- diminuir header após abaixar a página (ao clicar em um item do header, o título fica por baixo do header fixo)
- Zoom na página bagunça tudo
- Scroll suave no js
*/

/*
DIMENSÕES:
*** 320px — 480px: dispositivos móveis
*** 481px — 768px: iPads, tablets
*** 769px — 1024px: telas pequenas, laptops
1025px — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1.5px;
}

.titulo {
    font-size: 3.5rem;
}

body {
    background-image: linear-gradient(to right, #c23a49, #cd969e, #c23a49);
}

main {
    padding: 0 3%;
}

main > section {
    margin: 30px 0;
}



/* HEADER */
header {
    align-items: center;
    background-image: linear-gradient(to right, #c23a49, #cd969e, #c23a49);
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    height: 80px;
    position: sticky;
    text-shadow: 0 0 10px #c23a49;
    top: 0;
    z-index: 1;
}

header a {
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

header > figure {
    align-items: center;
    border-radius: 5px;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-left: 3%;
    width: 100px;
}

header > figure > a {
    align-items: center;
    display: flex;
    width: 70%;
}

header img {
    width: 100%;
}


header > nav {
    align-items: center;
    display: grid;
    flex-grow: 1;
    height: 100%;
    justify-items: center;
}

#btn-mobile {
    display: none;
}

header ul {
    align-items: center;
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    height: 100%;
    width: 100%;
}

header li {
    list-style-type: none;
    text-align: center;
}

header > nav a:hover {
    color: #c23a49;
    text-shadow: 0 0 10px white;
    font-size: 1.5rem;
}




            /* RASTREAMENTO */

#rastreamento {
    color: white;
    display: grid;
    grid-template: 1fr / 50% 50%;
    text-shadow: 0 0 10px #c23a49;
}

#rastreamento > article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#rastreamento > article > h2 {
    align-self: flex-end;
}

#rastreamento > article > p {
    padding-bottom: 3%;
    font-size: 1.5rem;
}

#rastreamento > article > a {
    align-self: center;
}

#rastreamento > article button {
    background-color: white;
    border: none;
    border-radius: 50px;
    color: #c23a49;
    font-size: 1.5rem;
    font-weight: bold;
    height: 60px;
    transition: all 0.5s;
    width: 120px;
}

#rastreamento > article button:hover {
    background-color: #cc5f6c;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

#rastreamento > figure {
    display: flex;
    justify-content: center;
}

#rastreamento img {
    height: auto;
    width: 70%;
}



            /* QUEM SOMOS */

#quem-somos {
    color: white;
    display: grid;
    font-weight: bold;
    grid-template-columns: 1fr 1fr;
    text-shadow: 0 0 10px #c23a49;
}

#quem-somos > figure {
    align-items: center;
    display: flex;
    justify-content: center;
}

#quem-somos > figure > img {
    border-radius: 20px;
    height: 85%;
    max-width: 80%;
}

#quem-somos > article {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#quem-somos > article > h2 {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-right: 10%;
}

#quem-somos > article > p {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-size: 1.1rem;
    letter-spacing: 0px;
    line-height: 1.8;
    padding-right: 5%;
    text-align: justify;
}

#slogan {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-top: 30px;
}

#slogan > img {
    border-radius: 10px;
    width: 150px;
}

#slogan > p {
    font-size: 1.1rem;
    padding-left: 3%;
    text-align: center;
}



            /* NOSSOS SERVIÇOS */

#nossos-servicos {
    color: white;
    display: grid;
    gap: 20px;
    text-shadow: 0 0 10px #c23a49;
}

#nossos-servicos > h2 {
    text-align: center;
}

#nossos-servicos > div {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

#entregas-ageis {
    align-items: center;
    display: grid;
    grid-template: 1fr / 70% 30%;
    justify-items: center;
}

#entregas-ageis > p {
    font-size: 1.3rem;
    padding-right: 10px;
    text-align: justify;
}

.imagens-nossos-serviços {
    border-radius: 20px;
    width: 100%;
    padding: 0 10px;
}

#entregas-com-cuidado {
    align-items: center;
    display: grid;
    grid-template: 1fr / 30% 70%;
    justify-items: center;
}

#entregas-com-cuidado > p {
    font-size: 1.3rem;
    padding-left: 10px;
    text-align: justify;
}



            /* CONTATO */

#contato {
    color: white;
    padding: 0 5%;
    text-shadow: 0 0 10px #c23a49;
}

#contato > h2 {
    text-align: center;
}

#contato > p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

#contato > form {
    display: grid;
    justify-items: center;
}

#contato > form > fieldset {
    border: 3px solid #c23a49;
    border-radius: 10px;
    padding: 1%;
    width: 500px;
}

#contato > form legend {
    border: 2px solid #c23a49;
    background-color: #c23a49;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 2px 5px;
    text-align: center;
}

.formLabelInput {
    margin: 30px 0;
    position: relative;
}

.formLabelInput label {
    cursor: text;
    left: 0;
    padding-left: 5px;
    position: absolute;
    text-shadow: 0 0 5px #c23a49;
    top: 0;
    transition: all 0.2s;
}

.inputsFormulario {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1rem;
    padding: 5px;
    outline: none;
    width: 100%;
}

#contato > form .formLabelInput .inputsFormulario:focus ~ label,
#contato > form .formLabelInput .inputsFormulario:valid ~ label {
    font-size: 14px;
    transform: translateY(-20px);
}

.formLabelInput textarea {
    border: 2px solid white;
    border-radius: 5px;
    resize: none;
}

#botaoFormulario {
    display: grid;
    justify-items: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

form input[type=submit] {
    background-color: white;
    border: none;
    color: #c23a49;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 30px;
    transition: all 0.5s;
}

form input[type=submit]:hover {
    background-color: #c23a49;
    color: white;
    cursor: pointer;
}



            /* FOOTER */

footer {
    background-color: #c23a49;
    color: white;
    display: grid;
    grid-template-columns: 40% 40% 1fr;
    justify-items: center;
    padding: 1% 3%;
    text-shadow: 0 0 10px #c23a49;
}

footer section {
    align-items: center;
    display: grid;
    grid-template: 1fr / 1fr;
    text-align: center;
    width: 100%;
}

footer figure {
    display: grid;
    justify-self: end;
    padding-right: 10%;
}

footer img {
    width: 40px;
}

@media screen and (max-width: 480px) {
    .titulo {
        font-size: 2rem;
    }
    
    main {
        padding: 0 3%;
    }

    main > section {
        margin: 20px 0;
    }


    
            /* HEADER */

    header ul {
        display: none;
    }

    header > nav {
        justify-items: flex-end;
        padding-right: 5%;
    }

    #btn-mobile {
        display: block;
    }


            
            /* RASTREAMENTO */
    
    #rastreamento {
        background-image: url('assets/rastreamento-sem-fundo.png');
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template: 1fr / 1fr;
        height: 40vh;
    }

    #rastreamento > article {
        align-items: center;
    }

    #rastreamento > article > h2 {
        align-self: initial;
    }

    #rastreamento > article > p {
        /* align-self: flex-start; */
        font-size: initial;
        width: 50%;
    }

    #rastreamento > article button {
        font-size: initial;
        height: 40px;
        width: 80px;
    }
    
    #rastreamento > figure {
        display: none;
    }
    
            /* QUEM SOMOS */

    #quem-somos {
        background-image: url('assets/quem-somos.jpg');
        background-size: cover;
        display: grid;
        grid-template: 1fr / 1fr;
        font-weight: initial;
        padding: 3% 2%;
    }

    #quem-somos > figure {
        display: none;
    }

    #quem-somos > article > h2 {
        padding-right: 0;
    }
    
    #quem-somos > article > p {
        padding-right: 0;
    }

    #slogan {
        display: flex;
        flex-direction: column;
    }

    #slogan > p {
        font-size: initial;
    }



            /* NOSSOS SERVIÇOS */

    #nossos-servicos > div {
        display: grid;
        grid-template: 1fr 1fr / 1fr;
    }

            /* CONTATO */
            
    #contato {
        /* display: ; */
    }

    #contato > p {
        font-size: initial;
    }

    #contato > form > fieldset {
        border: 3px solid #c23a49;
        padding: 0 10px;
        width: 100%;
    }

     
    
            /* FOOTER */

    footer {
        grid-template: 1fr 1fr 50px / 1fr;
        gap: 20px;
        padding: 0;
    }

    #redes-sociais {
        align-items: initial;
        gap: 20px;
        grid-template: 1fr / 1fr 1fr;
    }
    
    #redes-sociais figure {
        justify-self: initial;
        padding: 0;
    }

    #instagram {
        justify-items: end;
    }

    #facebook {
        justify-items: start;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .titulo {
        font-size: 2rem;
    }
    
    main {
        padding: 0 3%;
    }

    main > section {
        margin: 20px 0;
    }


    
            /* HEADER */

    header ul {
        display: none;
    }

    header > nav {
        justify-items: flex-end;
        padding-right: 5%;
    }

    #btn-mobile {
        display: block;
    }


    
            /* RASTREAMENTO */
    
    #rastreamento {
        background-image: url('assets/rastreamento-sem-fundo.png');
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template: 1fr / 1fr;
        height: 40vh;
    }

    #rastreamento > article {
        align-items: center;
    }

    #rastreamento > article > h2 {
        align-self: initial;
    }

    #rastreamento > article > p {
        font-size: initial;
        text-align: center;
        width: 50%;
    }

    #rastreamento > article button {
        font-size: initial;
        height: 40px;
        width: 80px;
    }
    
    #rastreamento > figure {
        display: none;
    }
    
            /* QUEM SOMOS */

    #quem-somos {
        background-image: url('assets/quem-somos.jpg');
        background-size: cover;
        display: grid;
        grid-template: 1fr / 1fr;
        font-weight: initial;
        padding: 3% 2%;
    }

    #quem-somos > figure {
        display: none;
    }

    #quem-somos > article > h2 {
        padding-right: 0;
    }
    
    #quem-somos > article > p {
        padding-right: 0;
    }

    #slogan {
        display: flex;
        flex-direction: column;
    }

    #slogan > p {
        font-size: initial;
    }



            /* NOSSOS SERVIÇOS */

    #nossos-servicos > div {
        display: grid;
        grid-template: 1fr 1fr / 1fr;
    }

            /* CONTATO */
            
    #contato {
        /* display: ; */
    }

    #contato > p {
        font-size: initial;
    }

    #contato > form > fieldset {
        border: 3px solid #c23a49;
        padding: 0 10px;
        width: 100%;
        max-width: 500px;
    }

     
    
            /* FOOTER */

    footer {
        grid-template: 1fr 1fr 50px / 1fr;
        gap: 20px;
        padding: 0;
    }

    #redes-sociais {
        align-items: initial;
        gap: 20px;
        grid-template: 1fr / 1fr 1fr;
    }
    
    #redes-sociais figure {
        justify-self: initial;
        padding: 0;
    }

    #instagram {
        justify-items: end;
    }

    #facebook {
        justify-items: start;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {


    #rastreamento > article > p {
        font-size: 1.3rem;
    }

    #entregas-ageis {
        grid-template: 1fr / 60% 40%;
    }

    #entregas-ageis > p {
        font-size: initial
    }

    #entregas-com-cuidado {
        grid-template: 1fr / 40% 60%;
    }

    #entregas-com-cuidado > p {
        font-size: initial
    }
}